*{
    margin-left: 0;
    padding: 0;
    box-sizing: border-box;
    margin-left: 15px;

    
}

main{
    width: 90%;
    margin: 25px auto;
    background-image: url(img/fondo.jpg);
}

#cabecera{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    margin: 20px;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

#logo{
    height: 150px;
    border-radius: 50%;
}

#titcabecera{
    font-size: 40px;
    font-weight: bold;
    padding-top: 5px;
    font-family:Arial, Helvetica, sans-serif;
    color: #05AFF2;
    background: white;
    text-shadow: 1px 10px 10px #808080
}

#introduccion{
    width: 90%;

}
#introduccion p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

.caja{
    border: 4px solid black;
    margin: 40px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    
}

.html{
    width: 30%;
    border: 2px solid gray;
    background-color: #F2F2F2;
}

.html h3{
    background-color: #F25F29;
    margin: 5px;
    color: white;
    text-align: center;
    
}

.css{
    width: 30%;
    border: 2px solid gray;
    background-color: #F2F2F2;
}

.css h3{
    background-color: #0477BF;
    margin: 5px;
    color: white;
    text-align: center;

}

.js{
    width: 30%;
    border: 2px solid gray;
    background-color: #BED996;
}

.js h3{
    background-color: #6BA614;
    margin: 5px;
    color: white;
    text-align: center;
}

.img {
    width: 30%;
    display: block;
    margin: auto; 
    margin-bottom: 15px;

}

.texto{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    margin: 5px;
}

#casita{
   width: 40%;
   display: block;
   margin: auto;
   box-shadow: 10px 10px 6px gray;
   
}

#pie{
    border-top: 2px solid black;
    padding: 10px;
    margin: 15px;
}

#pie p{
    border-radius: 5px;
    background-color: white;
    color: gray;
    text-align: center;
    border: 1px solid gray;
    padding: 10px;
    box-shadow: 0 3px 5px;
}

.titulo{
    text-decoration: underline;
    margin-top: 50px;
}
